:root{
    /* Background gradient: */
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);

    /* Text */
    --Verydarkgrayishblue: hsl(237, 12%, 33%);
    --Darkgrayishblue: hsl(240, 6%, 50%);

    /* Text Hover */
    --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
    --Softred: hsl(14, 88%, 65%);
}

body{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    font-family: "Kumbh Sans";
    position: relative;
    z-index: 6; 
}

details > summary {
    cursor: pointer;
    list-style: none;
    background-image: url("images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right;
}

summary::after{
 display: none;  
}

details[open] > summary {
    list-style: none;
    background-image: none;
    color: var(--Verydarkgrayishblue);
    font-weight: 700;
}

summary:hover{
    color: var(--Softred);
}

h1{
    color: var(--Verydarkgrayishblue);
    font-weight: 700;
}

footer{
    
    color: white;
    text-align: center;
    margin: 1em;
}

@media only screen and (min-width:992px) {
    main{
        margin: 10%;
    }

    .container{
        background-color: white;
        border-radius: 1em;
        width: 1000px;
        height: 500px;
        position: relative;
        box-shadow: 0px 6px 38px 0px rgba(0, 0,0,0.8);
    }
    
    .picture-desktop{
        background-image:url("images/illustration-woman-online-desktop.svg"), url("images/bg-pattern-desktop.svg");
        position: relative;
        display: grid;
        height: 400px;
        width:400px;
        background-size: 400px,  400px;
        background-repeat: no-repeat, repeat-y;
        top: 100px;
        left: -50px;
    }
      
    .illustration-box-desktop{
        background-image: url("images/illustration-box-desktop.svg");
        background-repeat: no-repeat;
        background-size: 200px;
        position: absolute;
        top:170px;
        left: -85px;
        height: 110px;
        width: 150px;
    }

    details[open] > summary::after{
        content: url("images/icon-arrow-down.svg");
        transform: rotate(180deg);
        width: 404px;
        height: 4px;
        display: block;
    }
}

@media only screen and (max-width:992px) {
     main{
        margin: 1em;
        margin-top: 145px;
    }

    .container{
        background-color: white;
        width: 325px; 
        display: grid;
        align-items: center;
        height: 534px;
    }

    .col-lg-6{
        display: grid;
        justify-items: center;
    }

    .illustration-woman-online-mobile{
        position: fixed;
        top:38px;
        width:240px 
    }

    .bg-pattern-mobile{
        top: 142px;
        width: 240px;
        position: fixed;
    }

    article{
        width: 274px;
        font-size: 12px;
        margin-top: 60px;
    }

    h1{
        text-align: center;
        padding-top: 10em;
        font-size: 36px;        
    }

    details[open] > summary::after{
        content: url("images/icon-arrow-down.svg");
        transform: rotate(180deg);
        width: 274px;
        height: 4px;
        display: block;
    }
}



